AuthType UWNetID
ShibRequireSession on
require uwnetid evansbe levow rawright sharon surekcla wassink acdejong chartn drmccloy elg1 kconrod lpanfili marina0 mfbolla mkfitz ms27 puthuval rctatman riebold rlhugo what mithreal
