{% extends 'base.html' %}

{% block title %}Current Reservations{% endblock %}

{% block primary %}

{% if reservations %}
    {% for reservation in reservations %}
        {{ reservation.reserved_by }} has a reservation
        from {{ reservation.start_date }} to {{ reservation.end_date }} for the following equipment:
        <ul>
        {% for equipment_piece in reservation.equipment.all %}
           <li> <a href="{% url 'equip_detail' equipment_piece.category equipment_piece.name %}">{{ equipment_piece.name }}</a>
        {% endfor %}
        </ul>
        <p>
    {% endfor %}
{% else %}
    <p>No current reservations.</p>
{% endif %}
{% endblock %}
