{% extends 'base.html' %}

{% block title %}Your Reservations{% endblock %}

{% block primary %}
    <p><b>Past Reservations</b></p>
    {% if past_reservations %}
        {% for reservation in past_reservations %}
            You had a reservation
            from {{ reservation.start_date }} to {{ reservation.end_date }} for the following equipment:
            <ul>
                {% for equipment_piece in reservation.equipment.all %}
                    <li> <a href="{% url 'equip_detail' equipment_piece.slug %}">{{ equipment_piece.name }} ({{ equipment_piece.lab }})</a>
                {% endfor %}
            </ul>
            <p>
            <br>
        {% endfor %}
    {% else %}
        <p>No past reservations.</p><br>
    {% endif %}

    <p><b>Current Reservations</b></p>
    {% if current_reservations %}
        {% for reservation in current_reservations %}
                You have a reservation
                from {{ reservation.start_date }} to {{ reservation.end_date }} for the following equipment:
                <ul>
                    {% for equipment_piece in reservation.equipment.all %}
                        <li> <a href="{% url 'equip_detail' equipment_piece.slug %}">{{ equipment_piece.name }}</a>
                    {% endfor %}
                </ul>
                <p>
            <form action="{% url 'return_details' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="reservation_id" value="{{ reservation.id }}">
                <input type="submit" value="Return Equipment">
            </form>
            <br>
        {% endfor %}
    {% else %}
        <p>No current reservations.</p><br>
    {% endif %}

    <p><b>Upcoming Reservations</b></p>
    {% if upcoming_reservations %}
        {% for reservation in upcoming_reservations %}
                You have a reservation
                from {{ reservation.start_date }} to {{ reservation.end_date }} for the following equipment:
                <ul>
                    {% for equipment_piece in reservation.equipment.all %}
                        <li> <a href="{% url 'equip_detail' equipment_piece.slug %}">{{ equipment_piece.name }}</a>
                    {% endfor %}
                </ul>
                <p>
            <form action="{% url 'cancel_confirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="reservation_id" value="{{ reservation.id }}">
                <input type="hidden" name="reservation_start_date" value="{{ reservation.start_date }}">
                <input type="hidden" name="reservation_end_date" value="{{ reservation.end_date }}">
                <input type="submit" value="Cancel Reservation">
            </form>
            <br>
        {% endfor %}
    {% else %}
        <p>No upcoming reservations.</p><br>
    {% endif %}

{% endblock %}

{% block returnlink %}
    <hr>
    <a href="{% url 'index' %}">back to Equipment Reservations main page</a>
{% endblock %}
