{% extends 'base.html' %}

{% block title %}Reserve Lab Equipment{% endblock %}

{% block primary %}
<script language="JavaScript">
function AccessDates(){
    var StartDate = document.getElementById('startDate').value;
    var EndDate = document.getElementById('endDate').value;
    // var url_mask = "http://www.google.com";
    var url_mask = "{% url 'reserve_dates' start_date=12345 end_date=23456 %}".replace(/12345/, StartDate.toString()).replace(/23456/, EndDate.toString());
    window.location.href=url_mask;
}
</script>

<center>
<p>
<b>When will you be using the equipment?</b>
<p>
<!-- <input id="value" type="text" value="testing" />
<button id="submit" onclick="AccessDates()">Submit</button>
<p> -->
Start Date: <input type="date" id="startDate">
<br>
End Date: <input type="date" id="endDate">
<br>
<button id="submit" onclick="AccessDates()">Submit</button>
</p>
</center>
{% endblock %}

{% block returnlink %}
<hr>
<a href="{% url 'index' %}">back to Equipment Reservations main page</a>
{% endblock %}
