{% extends 'base.html' %}

{% block title %}Reserve Lab Equipment{% endblock %}

{% block primary %}

    <script language="JavaScript">
        function AccessDates() {
            var StartDate = document.getElementById('startDate').value.toString();
            var EndDate = document.getElementById('endDate').value.toString();

            // Reformat dates inputted via dtpicker.js
            if (StartDate.indexOf(" ") > -1) {
                StartDate = StartDate.replace(" ", "T");
                EndDate = EndDate.replace(" ", "T");
            }

            if (StartDate != '' && EndDate != '') {
                var url_mask = "{% url 'reserve_dates' start_date='1234T56' end_date='2345T67' %}".replace(/1234T56/, StartDate).replace(/2345T67/, EndDate);
                window.location.href = url_mask;
            }
        }
    </script>

    <center>
        {% if error_message %}<p><strong><font color=red>{{ error_message }}</font></strong></p>{% endif %}
        <p>
            <b>When will you be using the equipment?</b>

        <p>
            Start Date and Time: <input type="datetime-local" id="startDate">
            <br>
            End Date and Time: <input type="datetime-local" id="endDate">
            <br>
            <button id="submit" onclick="AccessDates()">Submit</button>
        </p>
    </center>

    <script>
        // Check for browser support for datetime picker
        yepnope({
            test: Modernizr.inputtypes.date,
            nope: ['/static/admin/js/jquery.min.js', '/static/template/jquery.simple-dtpicker.js', '/static/template/jquery.simple-dtpicker.css'],
            complete: function () {
                $('input[type=datetime-local]').appendDtpicker({
                    'closeOnSelected': true,
                    'futureOnly': true
                });
            }
        });
    </script>
{% endblock %}

{% block returnlink %}
    <hr>
    <a href="{% url 'index' %}">back to Equipment Reservations main page</a>
{% endblock %}
