<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Equipment Reservations | Department of Linguistics | University of Washington</title>
    <meta name="description"
          content="Equipment reservation system for the UW Linguistics Phonetics & Sociolinguistics Labs">

    <link rel="shortcut icon" href="favicon.ico">
    <script type="text/javascript" charset="utf-8" src="/static/template/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/template/emailScrambler2.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/template/picnet.table.filter.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/template/jquery.tablesorter.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            emailScrambler2();
            $('#equip_list').tableFilter();
            $('#equip_list').tablesorter();
        });
    </script>

    <link href="/static/template/uwphonlab.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<div id="wrapper">

    <div id="header">
        <div id="logo"><a href="http://www.washington.edu/"><img id="uwLogo" src="/static/template/images/UW.png"/></a>
        </div>
    </div>

    <div id="menu">
        <ul>
            <li class="menuItem"><a href="http://depts.washington.edu/phonlab/">Home</a></li>
            <li class="menuItem"><a href="http://depts.washington.edu/phonlab/members.htm">Lab Members</a></li>
            <li class="menuItem"><a href="http://depts.washington.edu/phonlab/projects.htm">Projects</a></li>
            <li class="menuItem"><a href="http://depts.washington.edu/phonlab/pubs.htm">Publications</a></li>
            <li class="menuItem"><a href="http://depts.washington.edu/phonlab/resources.htm">Resources</a></li>
            <li class="menuItem"><a href="http://depts.washington.edu/phonlab/equipment.htm">Lab Equipment Reservations</a></li>
            <li class="menuItem"><a href="links.htm">Links</a></li>
            <li><a href="https://zeos.ling.washington.edu/~labwiki/w" target="_blank">Wiki</a></li>
        </ul>
    </div>

    <div id="contentWrapper">

        <div id="leftMargin">&nbsp;</div>

        <div id="rightMargin">&nbsp;</div>

        <div id="mainContent"><p class="heading">{% block title %}{% endblock %}</p>
            {% block primary %} {% endblock %}
            {% block returnlink %} {% endblock %}
        </div>

        <div id="footerImage"><img src="/static/template/images/cherry.jpg"/></div>

    </div>

    <div id="footer">
        <ul>
            <li class="menuItem"><a href="http://linguistics.washington.edu/">Department of Linguistics</a></li>
            <li class="menuItem"><a href="http://www.washington.edu/">University of Washington</a></li>
            <li class="menuItem">Box 352425 Seattle, WA 98195-2524</li>
            <li class="menuItem">Phone: (206) 543-2046</li>
            <li class="menuItem">Fax: (206) 685-7978</li>
            <li><span name="mailScr">linglab[AT uw DOT edu]</span></li>
        </ul>
    </div>

</div>
</body>
</html>
