body { 
	background-color: #333333;
	color: #222222;
	position:relative; 
	margin: 0px;
	height: 75%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
p {
	margin: 0px;
	padding-bottom: 6px;
}
a:link, a:visited {
	color:#090;
	text-decoration:none;
}
a:hover, a:active {
	color:#0C0;
	text-decoration:underline;
}
table,th,td {
    border:0px;
    padding:5px;
}
td {
    width:150px;
}
table.tablesorter {
	border-collapse:collapse;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	font-weight: bold;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
tr.unavailable {
	background-color: #D8D8D8;
	color: #505050;
}

#wrapper {
	margin: 0px;
	margin-left:auto;
	margin-right:auto;
	padding: 0px;
	width: 964px;
	border-top-style: none;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #464;
	border-bottom-color: #464;
	border-left-color: #464;
}
#header {
	margin: 0px;
	padding: 0px;
	height: 75px;
	width: 964px;
	border-style: none;
	background-image: url(./images/phonHeader.jpg);
	background-repeat: no-repeat;
}
#logo {
	position:relative;
	left: 812px;
	top: 10px;
	width:121px;
}
#uwLogo {
	border: 0px;
}
#menu {
	background-color:#393;
	margin: 0px;
	padding: 0px;
	height: 30px;
	width: 964px;
	border-right-style: none;
	border-left-style: none;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 2px;
	border-top-color: #FFF;
	border-bottom-color: #ACA;
}
#menu ul {
	margin:0px;
	padding-top:8px;
	padding-bottom:0px;
	padding-left:25px;
	padding-right:0px;
	list-style:none;
	text-align:left;
}
#menu ul li {
	margin:0px;
	display:inline;
	padding-left:6px;
	padding-right:6px;
	color:#FFF;
	font-size:12px;
	font-weight:bold;
}
.menuItem {
	border-right:#ACA solid thin;
}
#menu ul li a:link, #menu ul li a:visited {
	text-decoration:none;
	color:#FFF;
}
#menu ul li a:hover, #menu ul li a:active {
	text-decoration:none;
	color:#9F9;
}
#contentWrapper {
	margin: 0px;
	padding: 0px;
	width: 964px;
	background-color:#D0DDD0;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: #464;
}
#leftMargin {
	margin: 0px;
	padding: 0px;
	width: 31px;
	float:left;
}
#rightMargin {
	margin: 0px;
	padding: 0px;
	width: 31px;
	float:right;
	text-align:left;
}
#rightMarginHomepage {
	margin: 0px;
	padding: 0px;
	width: 350px;
	float:right;
	text-align:left;
}
#mainContent {
	padding: 20px;
	margin-left:31px;
	margin-right:31px;
	margin-bottom:0px;
	margin-top:0px;
	min-height:240px;
	background-color:#FFF;
	text-align:left;
}
#mainContentHomepage {
	padding: 20px;
	margin-left:31px;
	margin-right:350px;
	margin-bottom:0px;
	margin-top:0px;
	min-height:240px;
	background-color:#FFF;
	text-align:left;
}
#footerImage {
	padding: 0px;
	width:;
	margin-left:31px;
	margin-right:31px;
	margin-bottom:0px;
	margin-top:0px;
	background-color:#FFF;
	text-align:left;
}
#footer {
	margin: 0px;
	padding:0px;
	height: 18px;
	width: 964px;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #464;
	background-image: url(./images/phonBottom.jpg);
	background-repeat: no-repeat;
	clear:both;
}
#footer ul {
	margin:0px;
	padding-top:2px;
	padding-bottom:0px;
	padding-left:25px;
	padding-right:0px;
	list-style:none;
	text-align:left;
}
#footer ul li {
	margin:0px;
	display:inline;
	padding-left:6px;
	padding-right:6px;
	color:#FFF;
	font-size:10px;
}
#footer ul li a:link, #footer ul li a:visited {
	text-decoration:none;
	color:#FFF;
}
#footer ul li a:hover, #footer ul li a:active {
	text-decoration:none;
	color:#9F9;
}
.heading {
	color:#393;
	font-size:18px;
	font-weight:bold;
	margin-bottom:8px;
}
.subhead {
	margin:0;
	padding-top:6px;
	font-weight:bold;
	font-size:14px;
}
.ref {
	margin-left:50px;
	text-indent:-25px;
}
.bioText {
	display:block;
	background-color:#F0FFF0;
	min-height:98px;
	border:#D0DDD0 solid thin;
	margin-left:120px;
}
.bioText p {
	padding-left: 15px;
}
.bioTitle {
	font-size:14px;
	font-weight:bold;
}
.bioPic {
	clear:both;
	float:left;
}
.divider {
	display:block;
	clear:both;
	margin-top:12px;
	padding:0px;
}
